@{
    ViewData["Title"] = "Get To Know Me";
}
<h1>Get to Know Joel</h1>

<ul>
    <li>Joel loves comedy and performs at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
    <li>He is a proud supporter of <a href="https://baconsale.com/">Baconsale</a></li>
    <a href="https://baconsale.com/">
        <img height="500px" src="~/baconsalekate.jpg" />
    </a>
    
</ul>
